security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username
                
    role_hierarchy:
        ROLE_USER: [ROLE_USER]
        ROLE_AGENT: [ROLE_AGENT]
        ROLE_ADMIN: [ROLE_AGENT, ROLE_ALLOWED_TO_SWITCH] # Admin dziedziczy Agen

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        api:
            pattern: ^/api
            stateless: true
            
            json_login:
                check_path: /api/login_check
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

            jwt: ~

        
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\AppCustomAuthenticator

            logout:
                path: app_logout
                target: app_ticket_index
                csrf_token_id: 'logout'

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: '^/login', roles: PUBLIC_ACCESS }
        - { path: '^/logout', roles: PUBLIC_ACCESS }

        # Sekcja /ticket jest jawnie otwarta dla anonimowych
        - { path: '^/ticket', roles: PUBLIC_ACCESS }
        - { path: ^/category, roles: ROLE_AGENT }

        # Tylko te ścieżki są chronione:
        - { path: '^/profil', roles: IS_AUTHENTICATED_FULLY }
        - { path: '^/admin', roles: ROLE_ADMIN }
        
        - { path: ^/api$, roles: PUBLIC_ACCESS }
        - { path: ^/api/docs, roles: PUBLIC_ACCESS }
        - { path: ^/api/login_check, roles: PUBLIC_ACCESS }
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }


when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
