{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edytuj kategorię</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Zmień'}) }}

    <a href="{{ path('app_category_index') }}">powróć</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
